@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

$font-stack: 'Montserrat', sans-serif;
$light-color: #fff;
$primary-color: #45515d;
$secondary-color:#d45224;
$background-color: #f1f1f1;
$boldest: 500;
$bold: 300;