@use 'config';

.store-card {
  font-family: config.$font-stack;
  color: rgb(46, 46, 46);

  .location {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .social-media {
    display: flex;
    margin-top: 1rem;
    :first-child {
      margin-left: 0;
    }
    div {
      cursor: pointer;
      background-color: rgb(20, 20, 20);
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      color: config.$light-color;
      margin-left: 1rem;
      text-align: center;
      transition: background-color 0.25s ease-out;
      font-size: 12px;
      &:hover {
        background-color: config.$secondary-color;
      }
      .fab {
        margin-top: 6px;
      }
    }
  }
  .address,
  .number {
    margin-top: 1rem;
    color: config.$secondary-color;
    transition: color 0.25s ease-out;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.5;
    &:hover {
      color: #a54421;
      text-decoration: underline;
    }
  }
  hr {
    margin: 0.5rem 0;
  }
  .schedule {
    font-size: 10px;
    letter-spacing: 2px;
    div {
      margin-top: 5px;
    }
    span {
      margin-top: 5px;
    }
  }
  .permit-number {
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 10px;
  }
  .mobile-store-line{
    display: none;
    width: 12%;
    border: 2px solid config.$primary-color;
    background-color: config.$primary-color;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
}
