@use 'config';

@media (max-width: 500px) {
  #navbar,
  #navtop {
    padding: 5px;
    img {
      width: 7rem;
    }
  }
  .banner {
    height: 37rem !important;
    object-fit: cover;
  }

  .filter-box {
    padding: 0;
    height: 2.3rem;
    .dropdown {
      &-content {
        height: 85vh;
        top: 35px;
        li {
          label {
            .checkbox-label {
              font-size: 12px;
            }
            input[type="checkbox"] {
              width: 20px;
              height: 18px;
              border: 2px solid #45515d;
            }
          }
        }
      }
      .content-button {
        font-size: 12px;
      }
    }
  }
  footer {
    height: 398vh;
    .privacy-policy {
      font-size: 8px;
      padding: 1rem 0;
      margin-bottom: 0;
    }
  }
  .mobile-nav {
    div {
      span {
        font-size: 8px;
      }
    }
    .call-us {
      margin-left: 0.5rem;
    }
    .financing {
      margin-right: 0.5rem;
    }
  }
  .mobile-menu {
    .wrapper {
      .nav-link {
        font-size: 1rem;
        margin-top: 1rem;
      }
      .social-media {
        margin-top: 1rem;
        div {
          width: 1.5rem;
          height: 1.5rem;
          .fab {
            font-size: 12px;
            margin-top: 6px;
          }
        }
      }
      a,
      .phone {
        font-size: 12px;
      }
    }
  }
}
