@use 'config';

#navtop {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  color: config.$light-color;
  transition: all 0.3s ease-in;
  img {
    width: 9rem;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0.5rem 0 0 3rem;
    :nth-child(2) {
      margin-left: 4rem;
    }
    span {
      font-size: 0.6rem;
      margin-top: 0.8rem;
      margin-left: 2rem;
      font-family: config.$font-stack;
      text-transform: uppercase;
      font-weight: bold;
      justify-content: space-between;
      position: relative;
      display: inline-block;
      letter-spacing: 3px;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -10px;
        left: 0;
        background-color: config.$secondary-color;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }
      &:hover {
        cursor: pointer;
        &::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}

#navbar {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: config.$light-color;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in;
  img {
    width: 9rem;
  }
  :nth-child(2) {
    margin-left: 4rem;
  }
  div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0 0 3rem;
    span {
      font-size: 0.6rem;
      margin-top: 0.8rem;
      margin-left: 2rem;
      font-family: config.$font-stack;
      text-transform: uppercase;
      font-weight: bold;
      justify-content: space-between;
      position: relative;
      display: inline-block;
      letter-spacing: 3px;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -10px;
        left: 0;
        background-color: config.$secondary-color;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }
      &:hover {
        cursor: pointer;
        &::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
