@use 'config';

.puppy-card {
  position: relative;
  height: 100%;
  font-family: config.$font-stack;
  text-transform: uppercase;
  background-color: config.$light-color;
  cursor: pointer;
  padding-bottom: 1rem;
  box-shadow: 1px 2px rgba(88, 88, 88, 0.178);
  .photo {
    width: 100%;
    object-fit: cover;
    height: 20rem;
  }
  .puppy-video {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.9);
    top: 22em;
    right: 3%;
    padding: 0.6rem 0.8rem;
    font-size: 0.7rem;
    border-radius: 10%;
    img {
      height: 1.8rem;
      object-fit: cover;
    }
    span {
      font-weight: bold;
      color: config.$light-color;
    }
  }
  .puppy-description {
    color: config.$primary-color;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    hr {
      width: 100%;
      border: 1px dotted;
      border-style: none none dotted;
      color: grey;
      margin-top: 8px;
    }
    &-bottom {
      margin-top: 5px;
      font-size: 1.6rem;
      .puppy-name {
        font-weight: config.$boldest;
      }
      .location {
        background-color: config.$secondary-color;
        font-size: 1rem;
        font-family: config.$secondary-font;
        color: config.$light-color;
        text-transform: capitalize;
        width: fit-content;
        padding: 0.3rem;
        border-radius: 5%;
        margin-top: 10px;
        i {
          margin-left: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
