@use 'modules';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: modules.$background-color;
}
.banner {
  height: auto;
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 82rem
}
.titles {
  margin-top: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: modules.$font-stack;
  color: modules.$primary-color;

  .big-title {
    font-weight: modules.$boldest;
    font-size: 3.7rem;
  }
  .small-title {
    font-weight: modules.$boldest;
    font-size: 1.4rem;
  }
}
.puppies-list {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}
